*
{
border: 0;
padding: 0;
margin:0;
background-color:#E4E4E4;

}

h2
{
    display: flex;
    font-size: 50px;
    position: absolute;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    border-radius: 16px;
    box-shadow: 10px 5px 7px black;
    
    
    
 
}
#skills
{
    font-size: 40px;
    color: aliceblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background:rgb(0, 0, 0);
    padding: 8px 24px;
    border-radius: 16px;
 
}
#skillset
{
    font-size: 80px;
    background:#1e4ec7;
    padding: 8px 24px;
    border-radius: 16px;
    position: absolute;
    left: 50%;
}

#particles-js
{
    position: relative;
    background-size: cover;
    height: 50vh;
    box-shadow: -5px 1px 3px 3px black;
    
}




.myName
{
    position: absolute;
    font: :#979797;
    left:35%;
    top: 40%;
    background-size: cover;
    background-color: #BABABA;
    
}
#typing
{   
    font-size: 20px;
    font-weight: 100;
    position: absolute;
    left: 25%;
    top: 70%;
}



#move{
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(coffee3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
    width: 100%;
    height: 50vh;
   
    
    
}
.intro-text
{
    position: relative;
    opacity: 0;
    top:250px;
    left: 90px;
    z-index: 1;
    justify-content: left;
    font-size: 25px;
    transform: translateY(100px);
    width: 800px;
    height: 100px;
    transition: 1s all ease-in-out;
    
}
.intro-appear
{
    
    opacity: 1;
    transform: translate(0px);
}



   

#third{
   
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 101px;
    background-size:40%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
   

}
.mef
{
    width: 40%;
    position: absolute;
    left: 60%;

    
    
   
    
}
#move2{
  
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(matrix.jpg);
    box-shadow: -5px 1px 3px 3px black;
    background-size: cover;
    width: 100%;
    height: 50vh;
}    
#particles2s{
    position: absolute;
    height: 50vh;
    width: 100%;
    
    
    

}
.flex-container {
    display: flex;
    flex-wrap:wrap;
    
    justify-content: center;
    height: 10vh;
    
  }
  
  .flex-container  div {
     margin: 30px;
    padding: 40px;
    font-size: 30px;
    }

 



  
 