*
{
    border: 0;
    padding: 0;
    margin:0;
    overflow: hidden;
    
    
    
    }

   .butt
    {
        position: absolute;
        z-index: 1;
        left:60%;
        top:52.5%;
        font-size: 80px;
        font: bold 11px Arial;
        display: inline-block;
        border-radius: 4px;
        background-color: #868483;
        border: none;
        color: #FFFFFF;
        text-align: center;
        padding: 10px;
        width: 100px;
        transition: all 0.2s;
        cursor: pointer;
        margin: 2px;
  
        
}


#div1
{   
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


  
.butt span 
  {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .butt span:after 
  {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .butt:hover span 
  {
    padding-right: 25px;
  }
  
  .butt:hover span:after 
  {
    opacity: 1;
    right: 0;
}


    #typing_text
    {
        position: absolute;
        left: 46%;
        top:46%;
        color: black;
        font-size: 300%;
    }
   
   
   
    #locked
    {
        
        width: cover;
        height: cover;
        
    }